<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segementation of Liver Tissue</title>
    <link rel = "stylesheet" href="static/css/main.css">
</head>
<body>
    
    <div class="home_navbar">
        <div class="container">
            <a class="home_logo" href="templates/home.html"> Liver<span>Segmentation</span> </a>

                <nav> 
                    <ul class="tools">
                        <li class="manip3"> <a href="/">Home</a></li>
                        <li class="manip"><a href="/low_fibrosis_example/">Low Fibrosis Example</a></li>
                        <li class="manip2"><a href="/high_fibrosis_example/">High Fibrosis Example</a></li>
                        <!-- <li class="manip3"> <a href="/dataTable/">Data Table</a></li>
                        <li class="manip4"><a href="#">Load Data</a></li> -->
                </ul>

            </nav>

        </div>
    </div>
    <div class="home_description">
        <div class="container">
            <p style="color: white; text-align: center; font-size: 12px;">Final Project BE 544, Created By: John White</p>

        </div>
    </div>


</body>
</html>